@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --bg-color: #f6f8fa;
  --text-color: #1d1f27;
  --main-color: #3a3dbe;
  --accent-color: #ff6f61;
  --secondary-color: #6c757d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h3 {
  text-align: center;
  color: var(--main-color);
}

#navbar1 {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--main-color);
  /* padding: 10px; */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

#logo {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header div {
  margin-bottom: 10px;
}

header h5 {
  font-size: 1rem;
  color: var(--text-color);
}

section {
  margin-bottom: 30px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

form label {
  margin-bottom: 5px;
  display: block;
  color: var(--text-color);
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
}

canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 5px 0;
  padding: 0;
}
